<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <config>
    <add key="repositoryPath" value="..\SharedPackages" />
  </config>
  <packageSources>
    <add key="proget-nuget-source" value="http://nuget.gitlab.cpicloudservices.com/nuget/EasitraxPackages/" />
    <!--<add key="gitlab" value="https://gitlab.cpicloudservices.com/api/v4/projects/693/packages/nuget/index.json" />-->
  </packageSources>
  <packageSourceCredentials>
    <gitlab>
      <add key="Username" value="pnogariya" />
      <add key="Password" value="AQAAANCMnd8BFdERjHoAwE/Cl+sBAAAAc/j/cgunpUu3InpYdfChmgAAAAACAAAAAAADZgAAwAAAABAAAAAvp2JrQN2Z4C0sOkV+A93DAAAAAASAAACgAAAAEAAAAMgJwe60z879QWxycVgSaYMYAAAAE5a/PYouHMktFejJbUkxY2BM1O8Xxr7gFAAAAHqs0AS1SnrdF5TRSf1VLnUSOGba" />
    </gitlab>
  </packageSourceCredentials>
  <apikeys>
    <add key="http://nuget.gitlab.cpicloudservices.com/nuget/EasitraxPackages/" value="AQAAANCMnd8BFdERjHoAwE/Cl+sBAAAA5KJ75HjdzkaAP54TUZyTcwAAAAACAAAAAAADZgAAwAAAABAAAAB8OnVffIQKuKNJjFKFpZZnAAAAAASAAACgAAAAEAAAAObOs4aggCho/6yh1f990kgYAAAAgdWPaq+X6RMy7qKbDGLPRIGxqaSVYOAbFAAAAPeFq5/0mJizOe8vm8p8pni2hBEL" />
    <!--<add key="https://gitlab.cpicloudservices.com/api/v4/projects/693/packages/nuget/index.json" value="AQAAANCMnd8BFdERjHoAwE/Cl+sBAAAAc/j/cgunpUu3InpYdfChmgAAAAACAAAAAAADZgAAwAAAABAAAABaqB/2ksUZMOceZB24iJZoAAAAAASAAACgAAAAEAAAAFg3LfwTYS2zhc0dcbIrZcsQAAAAgW4jlC6mUo5FrwTWvqL2VBQAAADAXVqNQYe2oG5n2B4ykfEPPgIeTw==" />-->
  </apikeys>
</configuration>